/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #000;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #ffd600;
  color: #000;
  text-shadow: none;
}
::selection {
  background: #ffd600;
  color: #000;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a:link,
a:visited {
  text-decoration: none;
  color: black;
}
a:active,
button:active {
  position: relative;
  top: 2px;
}
a:hover {
  border-bottom: 1px solid black;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
  overflow: hidden;
  zoom: 1;
}
body {
  background: #30b542;
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
input {
  font-family: 'NHaasGroteskTXStd-75Bd';
  margin: 0 0 1em 0;
  padding: 0;
  text-rendering: optimizelegibility;
  font-weight: normal !important;
}
body p {
  margin: 0 0 1em 0;
  padding: 0;
  font-family: 'SwiftLTStd-Regular';
  font-size: 14px;
  line-height: 1.4em;
}
/* CONSTANTS */
#logo {
  position: fixed;
  top: 32px;
  left: 3%;
  z-index: 1000;
  width: 15%;
}
#logo img {
  width: 100%;
  height: auto;
}
#akfnlogo {
  position: fixed;
  bottom: 52px;
  right: 52px;
}
.stepmaster {
  display: none;
  position: fixed;
  top: 5px;
  text-align: center;
  left: 5px;
  line-height: 40px;
  height: 40px;
  width: 300px;
  background: pink;
  color: green;
}
.stepmaster:hover {
  background: purple;
  color: turquoise;
  cursor: pointer;
}
input.button,
button[type="button"] {
  background-color: #ffd600;
  font-size: 28px;
  font-weight: normal;
  border: 0;
  width: 285px;
  height: 70px;
  padding: 2px 0 0 0;
  line-height: 70px;
  transition: all 0.4s ease;
  margin: 0;
}
input.button:hover,
button[type="button"]:hover {
  color: white;
  background: black;
  transition: all 0s ease;
}
button[type="button"].small {
  width: 210px;
  height: 42px;
  font-size: 15px;
  line-height: 42px;
}
button.btn-change-object {
  padding-left: 33px;
  background: url(../img/ui-change.png) 6px 14px no-repeat #ffd600;
}
button.btn-change-object:hover {
  background: url(../img/ui-change.png) 6px -70px no-repeat #000000;
}
a.icon-twitter div {
  text-indent: -9999em;
  display: block;
  width: 36px;
  height: 36px;
  background: url(../img/branlette_sprite.png) no-repeat;
  background-position: 0 0;
}
a.icon-twitter div:hover {
  background-position: 0px -36px;
}
a.icon-facebook div {
  text-indent: -9999em;
  display: block;
  background: url(../img/branlette_sprite.png) no-repeat;
  width: 36px;
  height: 36px;
  background-position: -36px 0;
}
a.icon-facebook div:hover {
  background-position: -36px -36px;
}
div.arrow-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  /* left arrow slant */

  border-bottom: 5px solid transparent;
  /* right arrow slant */

  border-right: 5px solid #ffd600;
  /* bottom, add background color here */

  font-size: 0;
  line-height: 0;
  display: inline-block;
  margin-right: 10px;
}
div.arrow-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  /* left arrow slant */

  border-bottom: 5px solid transparent;
  /* right arrow slant */

  border-left: 5px solid #ffd600;
  /* bottom, add background color here */

  font-size: 0;
  line-height: 0;
  display: inline-block;
  margin-right: 10px;
}
/* LANDING */
.page-landing .landing-intro .bras {
  position: absolute;
  z-index: -1;
  max-width: 900px;
  max-height: 900px;
  bottom: 0;
  left: 170px;
  width: 100%;
  height: 100%;
  background: url(../img/bras.png) no-repeat;
  background-size: contain;
}
.page-landing .landing-code,
.page-landing .landing-confirmation {
  overflow: hidden;
}
.page-landing .landing-code .bras2,
.page-landing .landing-confirmation .bras2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/bras2.png) no-repeat 23%;
  background-size: auto 100%;
}
.page-landing .landing-code .bras2image,
.page-landing .landing-confirmation .bras2image {
  width: 100%;
  height: 100%;
  max-width: 1024px;
  position: relative;
  margin-left: 23%;
}
.page-landing .landing-code .biphone-contenu,
.page-landing .landing-confirmation .biphone-contenu {
  position: absolute;
  overflow: hidden;
  top: 26%;
  left: 15%;
  width: 24%;
  height: 40%;
}
.page-landing .landing-code .biphone-contenu h1,
.page-landing .landing-confirmation .biphone-contenu h1 {
  border-top: 5px solid black;
  padding-top: 5px;
  font-size: 30px;
  line-height: 1em;
  margin: 0 0 15px 0;
}
.page-landing .landing-code .biphone-contenu h2,
.page-landing .landing-confirmation .biphone-contenu h2 {
  margin: 0 0 15px 0;
  font-size: 20px;
  line-height: 1em;
}
.page-landing .landing-code .biphone-contenu .code,
.page-landing .landing-confirmation .biphone-contenu .code {
  background: white;
  font-size: 24px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin: auto;
  clear: both;
}
.page-landing .landing-code .biphone-contenu .code:hover,
.page-landing .landing-confirmation .biphone-contenu .code:hover {
  background-color: #f2f2f2;
}
.page-landing .main {
  width: 1100px;
  position: absolute;
  left: 72px;
  bottom: 52px;
}
.page-landing .main div.clear {
  padding: 20px 0 0 0;
  border-top: 6px solid black;
}
.page-landing .main button {
  margin-bottom: 40px;
}
.page-landing .main h1 {
  margin: 0;
  width: 60%;
  font-size: 52px;
  line-height: 52px;
  font-weight: bold;
  position: relative;
}
.page-landing .main h1 span:after {
  content: '*';
  font-size: 26px;
  position: absolute;
  top: -10px;
}
.page-landing .main p {
  width: 285px;
}
.page-landing .main p:before {
  content: '* ';
  font-size: 1.3em;
  font-family: 'NHaasGroteskTXStd-65Md';
}
.page-landing .sidebar {
  position: fixed;
  top: 52px;
  right: 52px;
  width: 600px;
}
.sidebar {
  font-family: 'NHaasGroteskTXStd-75Bd';
}
.sidebar header {
  zoom: 1;
  overflow: hidden;
  border-bottom: 4px solid #000;
  line-height: 40px;
}
.sidebar header div.right a div {
  display: inline-block;
}
.sidebar header div.right a:hover {
  border: 0;
}
.sidebar table {
  font-size: 50px;
  line-height: 1em;
}
.sidebar table tr,
.sidebar table td {
  padding: 0;
  margin: 0;
}
.sidebar table tr {
  vertical-align: baseline;
  border-bottom: 2px solid #000;
}
.sidebar table td {
  padding-top: 17px;
}
.sidebar table td.position {
  padding-top: 0px;
  width: 85px;
}
.sidebar table td.agence {
  width: 400px;
}
.sidebar table td.score {
  text-align: right;
  font-size: 16px;
  font-family: 'NHaasGroteskTXStd-65Md';
}
.sidebar footer {
  text-align: right;
  line-height: 40px;
}
.page-classement .sidebar header,
.page-shake .sidebar header {
  overflow: hidden;
  zoom: 1;
  margin-bottom: 20px;
}
.page-classement .sidebar div.leftscore,
.page-shake .sidebar div.leftscore {
  float: left;
  width: 40%;
}
.page-classement .sidebar div.leftscore h1,
.page-shake .sidebar div.leftscore h1 {
  border-bottom: 1px solid black;
  font-size: 58px;
  margin: 0;
}
.page-classement .sidebar div.leftscore h1:after,
.page-shake .sidebar div.leftscore h1:after {
  content: '*';
  font-size: 26px;
  position: absolute;
}
.page-classement .sidebar div.leftscore footer,
.page-shake .sidebar div.leftscore footer {
  width: 100%;
  text-align: left;
  line-height: 1em;
  margin-top: 0.5em;
  margin-left: 1em;
  text-indent: -1em;
}
.page-classement .sidebar p.right,
.page-shake .sidebar p.right {
  width: 50%;
}
.page-classement .sidebar p.right:before,
.page-shake .sidebar p.right:before {
  content: '* ';
  font-size: 1.3em;
  font-family: 'NHaasGroteskTXStd-65Md';
}
html,
body {
  height: 100%;
}
.page-shake {
  background-color: #ec1d1d;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}
.page-shake .sidebar {
  width: 600px;
  right: 52px;
  top: 52px;
  position: fixed;
}
.page-shake .shake-bras {
  width: 100%;
  height: 110%;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  z-index: 0;
}
.page-shake .shake-intro h1 {
  position: absolute;
  bottom: 150px;
  line-height: 120px;
  margin: 0;
  left: 52px;
  max-width: 1024px;
  width: 90%;
  font-size: 120px;
}
.page-shake .switch {
  position: fixed;
  left: 52px;
  bottom: 52px;
}
.page-shake .shake-bulle {
  position: absolute;
  top: 0;
  left: 0;
  background: #ffd600;
  padding: 20px;
  font-size: 12px;
  width: 250px;
  z-index: 1000;
}
.page-shake .shake-bulle h3 {
  border-top: 1px solid black;
  padding-top: 10px;
  margin: 0;
}
.page-shake .shake-bulle:after {
  background-color: transparent;
  position: absolute;
  bottom: -15px;
  right: 15px;
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 15px 0px 0 10px;
  border-color: #ffd600 transparent transparent transparent;
}
.page-shake .shake-nombre {
  font-size: 280px;
  text-align: center;
  position: fixed;
  z-index: 0;
  width: 1024px;
  height: 400px;
  right: 50%;
  bottom: 50%;
  margin-right: -512px;
  margin-bottom: -200px;
  font-family: 'NHaasGroteskTXStd-75Bd';
}
.page-shake .shake-repos .fatigue {
  position: absolute;
  width: 480px;
  height: 300px;
  top: 50%;
  left: 104px;
  z-index: 2;
  margin-top: -150px;
}
.page-shake .shake-repos .fatigue h1 {
  font-size: 120px;
  line-height: 1em;
  margin-bottom: 0.5em;
  font-weight: normal;
}
.page-shake .shake-repos .fatigue h2 {
  margin-left: 8px;
  border-top: 3px solid black;
  padding-top: 1em;
  position: relative;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}
.page-shake .shake-repos .fatigue h2 div {
  color: #ffd600;
}
.page-shake .shake-repos .fatigue footer div {
  float: left;
}
body.object-marie .page-shake,
body.object-jesus .page-shake,
body.object-nutcracker .page-shake,
body.object-emballage .page-shake,
body.object-boite .page-shake,
body.object-boule .page-shake {
  background-color: #30b542;
}
body.object-canne .page-shake,
body.object-explosif .page-shake,
body.object-ange .page-shake,
body.object-roi .page-shake,
body.object-canne2 .page-shake,
body.object-cierge .page-shake {
  background-color: #ec1d1d;
}
body.object-marie .shake-bras {
  background-image: url(../img/marie.jpg);
}
body.object-jesus .shake-bras {
  background-image: url(../img/jesus.jpg);
}
body.object-nutcracker .shake-bras {
  background-image: url(../img/nutcracker.jpg);
}
body.object-emballage .shake-bras {
  background-image: url(../img/emballage.jpg);
}
body.object-boite .shake-bras {
  background-image: url(../img/boite.jpg);
}
body.object-canne .shake-bras {
  background-image: url(../img/canne.jpg);
}
body.object-explosif .shake-bras {
  background-image: url(../img/explosif.jpg);
}
body.object-ange .shake-bras {
  background-image: url(../img/ange.jpg);
}
body.object-roi .shake-bras {
  background-image: url(../img/roi.jpg);
}
body.object-canne2 .shake-bras {
  background-image: url(../img/canne2.jpg);
}
body.object-cierge .shake-bras {
  background-image: url(../img/cierge.jpg);
}
body.object-boule .shake-bras {
  background-image: url(../img/boule.jpg);
}
.shake-droite {
  width: 540px;
  position: absolute;
  bottom: 52px;
  right: 112px;
  border-bottom: 2px solid black;
}
.shake-droite h1 {
  font-size: 30px;
  float: left;
  width: 40%;
  margin-bottom: 0;
  margin-top: -3px;
  line-height: 30px;
}
.shake-droite h2 {
  margin-bottom: 0;
  float: right;
  text-align: right;
  width: 60%;
  font-size: 16px;
  line-height: 30px;
}
@keyframes shake {
  0% {
    transform: translate(3px, 3px);
  }
  50% {
    transform: translate(-30px, -30px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-moz-keyframes shake {
  0% {
    -moz-transform: translate(3px, 0);
  }
  50% {
    -moz-transform: translate(3px, 3px);
  }
  100% {
    -moz-transform: translate(0, 0);
  }
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(0px, 3px);
  }
  50% {
    -webkit-transform: translate(0px, 30px);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}
.shaking {
  animation-name: shake;
  animation-duration: 150ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -moz-animation-name: shake;
  -moz-animation-duration: 150ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-name: shake;
  -webkit-animation-duration: 150ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
.page-classement .sidebar {
  position: fixed;
  top: 52px;
  right: 52px;
  width: 25%;
}
.page-classement .classement {
  width: 45%;
  margin: 52px 0 0 20%;
}
.page-classement .classement header {
  zoom: 1;
  overflow: hidden;
  border-bottom: 4px solid #000;
  margin-bottom: 0.3em;
  line-height: 40px;
}
.page-classement .classement header div.right a div {
  display: inline-block;
}
.page-classement .classement header div.right a:hover {
  border: 0;
}
.page-classement .classement table {
  font-family: 'NHaasGroteskTXStd-75Bd';
  font-size: 58px;
}
.page-classement .classement table tr,
.page-classement .classement table td {
  padding: 0;
  margin: 0;
  line-height: 1em;
}
.page-classement .classement table tr {
  border-bottom: 2px solid #000;
  vertical-align: baseline;
}
.page-classement .classement table td {
  padding-top: 11px;
}
.page-classement .classement table td.position {
  padding-top: 0px;
  width: 100px;
}
.page-classement .classement table td.agence {
  width: 85%;
}
.page-classement .classement table td.score {
  text-align: right;
  font-size: 16px;
  font-family: 'NHaasGroteskTXStd-65Md';
}
.pageiphone-shake {
  background: url(../img/bras3.png) center center no-repeat #ec1d1d;
  height: 100%;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */

  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* Desktops and laptops ----------- */
@media only screen and (max-width: 1640px) {
  #logo {
    width: 15%;
  }
  #logo img {
    width: 100%;
    height: auto;
  }
  .page-landing .landing-code .biphone-contenu h1,
  .page-landing .landing-code .biphone-contenu h2,
  .page-landing .landing-code .biphone-contenu button {
    zoom: 0.7;
  }
  .page-landing .main {
    box-sizing: border-box;
    width: 60%;
  }
  .page-landing .main h1 {
    font-size: 40px;
    line-height: 1em;
  }
  .page-landing .main h1 span:after {
    position: relative;
  }
  .page-landing .main button {
    zoom: 0.75;
  }
  .page-landing .sidebar {
    position: fixed;
    top: 52px;
    right: 52px;
    width: 400px;
  }
  .page-landing .sidebar table td.agence,
  .page-landing .sidebar table td.position {
    font-size: 30px;
    line-height: 1em;
    height: 1em;
    padding: 0.5em 0;
    margin: 0;
  }
  .page-landing .sidebar table td.score {
    line-height: 1em;
    height: 1em;
    padding: 0;
    margin: 0;
  }
  .page-classement .classement #leaderboard .position {
    width: 80px;
  }
  .page-classement .classement #leaderboard .agence {
    width: 75%;
  }
  .page-classement .classement #leaderboard .agence,
  .page-classement .classement #leaderboard .position {
    font-size: 0.75em;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (max-width: 1224px) {
  #akfnlogo {
    bottom: 0;
  }
  .page-landing .main {
    box-sizing: border-box;
    width: 100%;
    left: 0;
    padding: 0 52px;
  }
  .page-landing .main h1 {
    width: 50%;
    font-size: 36px;
    line-height: 1em;
    font-weight: normal;
  }
  .page-landing .main h1 span:after {
    position: relative;
  }
  .page-landing .main .right {
    width: 35%;
  }
  #logo {
    zoom: 0.65;
  }
  .page-landing .landing-intro .bras {
    left: 0;
    background-position: bottom;
  }
  .page-landing .sidebar {
    width: 32%;
  }
  .page-classement .classement #leaderboard .agence,
  .page-classement .classement #leaderboard .position {
    font-size: 0.55em;
  }
  .page-classement .sidebar div.leftscore,
  .page-classement .sidebar p.right {
    width: 100%;
    float: none;
  }
  .page-classement .sidebar p.right {
    margin-top: 1em;
  }
  .page-shake .shake-repos .fatigue {
    width: 30%;
  }
  .page-shake .shake-repos .fatigue h1 {
    font-size: 72px;
  }
  .page-shake .shake-repos .fatigue h2 {
    font-size: 12px;
    line-height: 1.1em;
  }
  .page-shake .sidebar {
    width: 40%;
  }
  .page-shake .shake-droite {
    width: 40%;
    right: 52px;
  }
  .page-shake .shake-droite h1 {
    font-size: 1.4em;
    margin: 0;
  }
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
  .page-landing .landing-intro .bras {
    box-sizing: border-box;
    zoom: 0.8;
    left: 0;
    bottom: 0;
  }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 768px) {
  #logo {
    display: none;
  }
  #akfnlogo {
    display: none;
  }
  .pageiphone-landing {
    box-sizing: border-box;
    padding: 25px;
    background: #ec1d1d;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    zoom: 1;
  }
  .pageiphone-landing h1 {
    margin: 0.5em 0;
    position: relative;
    line-height: 1em;
    font-size: 30px;
  }
  .pageiphone-landing h1 span:after {
    content: '*';
    top: -10px;
    position: absolute;
  }
  .pageiphone-landing h2 {
    margin-bottom: 0.5em;
    font-size: 16px;
  }
  input.code,
  input[type="text"] {
    -webkit-appearance: none;
    border-radius: 0;
    width: 100%;
    background: white;
    border: 0;
    line-height: 42px;
    text-align: center;
    font-size: 24px;
    font-family: 'NHaasGroteskTXStd-75Bd';
    height: 42px;
    padding: 0;
    margin: 0;
    float: left;
    width: 60%;
  }
  button.btn-submit-code {
    border: 0;
    width: 35%;
    height: 42px;
    line-height: 42px;
    float: right;
    display: block;
    background: black;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 13px;
  }
  .pageiphone-agence {
    background: #ec1d1d;
  }
  .pageiphone-agence .logo {
    zoom: 1;
    overflow: hidden;
    padding: 35px 25px 25px 25px;
  }
  .pageiphone-agence .logo img {
    width: 35%;
    height: auto;
  }
  .pageiphone-agence .right {
    width: 60%;
  }
  .pageiphone-agence .right h1 {
    border-bottom: 6px solid black;
    padding-bottom: 0.3em;
    font-size: 14px;
  }
  .pageiphone-agence ul {
    margin: 0;
    padding: 0;
    list-style: none;
    clear: both;
  }
  .pageiphone-agence ul li {
    font-family: 'NHaasGroteskTXStd-75Bd';
    line-height: 48px;
    font-size: 30px;
    padding: 0 25px;
  }
  .pageiphone-agence ul li span {
    border-bottom: 1px solid black;
    display: block;
  }
  .pageiphone-agence .prev-active span {
    border-bottom: 1px solid transparent;
  }
  .pageiphone-agence .active {
    background-color: #ec1d1d;
  }
  .pageiphone-agence .active span {
    border-bottom: 1px solid transparent;
  }
  .pageiphone-agence.one-selected {
    background-color: #30b542;
  }
  .page-classement .classement {
    padding: 5%;
    width: 100%;
    margin: 90px 0 0 0;
    box-sizing: border-box;
  }
  .page-classement .classement header {
    display: none;
  }
  .page-classement .classement #leaderboard .agence,
  .page-classement .classement #leaderboard .position {
    font-size: 0.5em;
  }
  .page-classement .sidebar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 5% 5% 0 5%;
    background-color: #ffd600;
  }
  .page-classement .sidebar header {
    width: 100%;
  }
  .page-classement .sidebar .leftscore,
  .page-classement .sidebar p.right {
    display: none;
  }
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  .pageiphone-landin .logo {
    float: left;
  }
  .pageiphone-landin h1,
  .pageiphone-landin p,
  .pageiphone-landin form,
  .pageiphone-landin h2 {
    width: 71%;
    float: right;
    clear: right;
  }
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
       * Don't show links for images, or javascript/internal links
       */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
